body {
  background-color: #8EB19D;
  color: #66B3BA;
}

.topRow {
  background-color: #F6EFA6;;
  border: 1px solid #42CAFD;
}

ul li {
  margin-right: 5px;
}

div p {
  margin: 0;
}

.login {
  margin: 10px 0;
}

.btnsubmit {
  width: 100%;
  margin-top: 10px;
  background-color: #8EB19D;
}

.banner {
  margin-top: 10px;
}

.navigation {
  background-color: #8EB19D;
  font-size: 1.5rem;
}

.navigation a {
    color: #F6EFA6;
    display: inline-block;
}

.navigation a:hover {
  color: #F0D2D1;
}

.btnsubmit:hover {
  width: 100%;
  margin-top: 10px;
  background-color: #F0D2D1;
}

